<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Graphs Dashboard | {{ err_code }} - {{ err_name }}</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='errorhandler.css') }}">
</head>

<body>
	<div class="errorbox-container">
		<img src="{{ url_for('static', filename='default-pfp.jpg') }}" class="pfp">
		<div class="err-code">
			<h1>{{ err_code }} - {{ err_name }}</h1>
			<p>Oopsies...</p>
		</div>
		<p class="err-msg">{{ err_msg }}</p>
		<a class="back-to-dashboard" href="{{ url_for('default_dashboard', dashboard_id=1) }}">Back to dashboard</a>
	</div>
</body>

</html>
